<style>
	.pagination li.active {
		background-color: #607d8b;
	}
	
	.card-content {
		font-size: large;
		text-align: center;
	}
</style>
<script>
	$(document).ready(function(){
		$('.modal').modal();
	});
</script>
<!-- Modal1 Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>자기소개서 잘 쓰는 요령, 5단계</h4>
			<h5>‘면접이라도 한 번 가봤으면 좋겠어요.’</h5>
      <p>서류에서 많이 떨어져 본 많은 지원자가 나에게 주로 하는 말이고, 내가 취업준비생일 때 내가 입에 달고 살던 말이다. 면접관 얼굴이라도 보면 ‘말빨’로 라도 어떻게 해볼 텐데, 이놈의 회사는 왜 그리도 나를 쳐다보지도 않는지. 지금 생각 해보면 ‘회사가 내 가치를 몰라 준다’는 굉장히 오만한 생각에서 나온 말이었던 것 같다. 자기소개서도 결국 하나의 커뮤니케이션 수단이고, 회사 입장에서는 많은 수의 지원자를 일차적으로 Screening하는데 매우 효율적인 수단이다.<br>
쉽게 말해 자기소개서란, “앞으로 나와 함께 일할 사람들, 혹은 나의 고용주나 Boss가 원하는 방식으로 나 자신이 커뮤니케이션을 할 수 있음”을 입증하는 첫 단추나 마찬가지다.<br>
2009년의 나도, ‘나 정도 스펙이면 그래도 들어갈 수 있는 회사 하나쯤은 있겠지’ 라는 안일한 생각을 하고 있었다. 시작한 취업 준비가 1년 반이나 걸릴지는 나도 몰랐다. 면접이라도 가면 정말 말빨 하나로 끝내주게 나를 팔아볼 자신이 있었는데 계속 서류에서 떨어졌다. 영어 성적이 없던 것도 아니고, 학점이 나빴던 것도 아닌데 정말 답답했다. 서류가 되어야 인·적성을 준비하지 않나.<br>
‘자기소개서’ 쓰는 법은 인터넷에 참 많다. 하는 말은 비슷하다. 인재상을 잘 이해해야 한다, 복사 붙여넣기는 하면 안 된다, 사실에 근거해서 작성해야 한다, 경험 위주로 작성해야 한다 등.<br>
				특히 취업 사이트에서 제공하는 자기소개서 글들은 정말 도움이 안 된다. 그리고 ‘합격 자소서’ 이런 거 돈 주고 사지 마라. 내가 우리 회사 합격 자소서도 돈 주고 사봤는데 해당 연도 우리 회사 자기소개서 문항이 아니더라. 속지 말자.</p>
			<h5 class="bold">자소서 작성 요령</h5>
			<p>길어진 서두는 이쯤 해두고, 내가 생각하는 자기소개서 작성의 요령은 아래를 잘 엮는 데 있다.
			<ol>
				<li>자소서 문항에서 묻는 내용 (기업이 알고자 하는 내용)</li>
				<li>해당 기업의 인재상</li>
				<li>지원한 직무에서 요구되는 항목</li>
				<li>내 장점</li>
				<li>이 장점을 증명할 수 있는 내 경험</li>
			</ol>
			이 5가지를 ‘쉽게 엮어서 잘 보이게 배치하는’ 방법을 소개하고자 한다. 특히 이 방법은 벌써 3년째 후배들의 자기 소개서를 첨삭/면담 해주면서 내 나름 정제해온 노하우다. 일종의, ‘자기소개서 작성 따라 해보기’ 느낌의 워크북, 혹은 Drill book 정도로 생각하면 될 것 같다.
내가 소개하려는 5단계는 이렇다.
			<ul>
				<li>1. 내가 지원하는 회사를 알고,</li>
				<li>1. 그리고 나를 알고,</li>
				<li>1. 자기소개서의 ‘구조’를 만든 후에,</li>
				<li>1. 자기소개서에 살을 붙이고</li>
				<li>1. 마지막으로 자기소개서를 다듬는 순서이다.</li>
			</ul>
			위의 내용을 하나로 묶어 적어나가는 것이, 내가 생각하는 자기소개서 쉽게 써 내려가는 핵심이다. 다시 한번 강조하지만, 내 후배들 시켜봤는데 결과가 제법 괜찮았다.
			</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="modal-close waves-effect btn-flat">다 읽었어요!</a>
    </div>
  </div>
<!-- Modal2 Structure -->
  <div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>신입채용 면접에서 가장 중요한 항목</h4>
      <p>취업은 ‘산 넘어 산’이다. 기업들은 이번 주부터 입사 서류전형 합격자를 속속 발표하고 있다. 필기시험인 인·적성검사를 통과해도 또 면접이 기다리고 있다.<br>
우리나라 대기업들은 서류전형을 통해 보통 최종선발 인원의 10배수를 뽑는다. 이어 인·적성검사에서 5배수 그리고 1차면 접에서 2~3배수를 선발하는 것으로 알려졌다. 기업은 신입사원 채용 때 어떤 기준으로 뽑을까? 기업 인사담당자가 채용 시 가장 중요하게 평가하는 것을 무엇일까?<br>
취업포털 사람인이 기업 인사담당자 531명을 대상으로 한 조사에선 ‘성실함과 책임감’을 1위로 꼽았다. 인사담당자의 절반에 육박하는 44.1%가 그렇게 답했다. 이는 스펙이 아니라 지원자의 인성에 대한 부분이다. 성실함 다음으로 꼽은 것은 ‘직무 수행 능력(30.7%)’이었다. 그리고 ‘조직 적응 및 융화력’(6.6%), ‘열정 및 도전정신’(5.6%), ‘가치관과 개인 성향’(4.7%), ‘강한 입사 의지’(2.8%), ‘전공지식 수준’(1.5%), ‘지원동기’(1.3%) 등도 채용 시 중요하게 보는 것으로 나타났다.<br>
하지만, 면접 때 반드시 물어보는 질문은 ‘직무 관련 지식과 강점’이었다. 절반 이상(51.4%)이 이런 답변을 했다. 이밖에 ‘지원 동기’(40.5%), ‘장기근속 가능 여부’(23.9%), ‘입사 후 포부 및 목표’(21.5%), ‘가족 등 성장 과정’(7.9%), ‘보유 기술’(6.4%), ‘성공 및 실패 경험’(6%), ‘기업 관련 정보’(5.5%) 등도 묻는 단골 질문으로 꼽았다.<br>
면접에서는 좋은 첫인상도 당락을 좌우한다.<br>
인사담당자들은 처음 봤을 때 가장 호감이 가는 지원자의 유형으로 ‘차분하고 안정감 있는 태도의 지원자’(36.3%)를 첫 번째로 꼽았다. 다음으로 ‘미소를 띠고 표정이 밝은 지원자’(33.3%), ‘면접시간보다 일찍 와서 준비하는 지원자’(11.9%), ‘씩씩하게 인사하는 등 패기 있는 지원자’(11.5%), ‘단정한 복장 등 깔끔한 외모의 지원자’(5.8%) 등의 답변이 있었다.<br>
면접 전형에서 신입 지원자의 첫인상을 판단하는 데 걸리는 시간은 평균 5분으로 집계됐다.<br>
구체적으로는 ‘5분’(33.5%), ‘1분’(20.2%), ‘3분’(13.7%), ‘30초 미만’(12.2%) 등의 순으로, 5분 이내의 짧은 시간에 결정되는 경우가 대부분인 것으로 나타났다. 지원자의 첫인상을 결정짓는 데 가장 큰 영향을 미치는 요소로는 절반이 넘는 50.3%가 <br>
‘태도, 자세’를 들었다. 다음으로 ‘말투, 언어’(20.3%), ‘표정, 인상’(18.6%), ‘입사지원서’(4.1%), ‘외모, 차림새’(3.2%), ‘자기소개’(2.1%), ‘첫인사’(1.1%) 등의 순이었다.<br>
이렇게 파악한 첫인상은 면접이 끝날 때까지 ‘절반 정도 유지’(55%) 되거나, ‘거의 유지’(43.1%)되는 편이었다. 반면, ‘거의 바뀐다’는 응답은 1.9%에 그쳤다.<br>
또, 스펙이나 업무 능력보다 첫인상이 좋아 채용한 지원자가 있는지를 묻는 말에는 무려 70.2%가 ‘있다’라고 답변했다. 반대로 다른 조건은 좋지만, 첫인상이 나빠 떨어뜨린 지원자가 있는 경우도 70.4%에 달해 당락에 큰 영향을 미치는 것으로 조사됐다.<br>
사람인의 임민욱 팀장은 “직무 관련 경력 사항이 적을 수밖에 없는 신입 채용 면접에서는 기본적인 인성이나 태도를 평가에 중요하게 반영하기 때문에 경력이 적다고 위축되지 말고, 본인의 성실성과 열정을 최대한 어필하는 것이 필요하다.”라며, “특히, 첫인상을 통해 지원자의 태도 등 여러 부분을 판단하는 경우가 많은 만큼 면접 대기 시간부터 긴장을 늦추지 말고 좋은 인상을 남기는 것이 합격의 지름길”이라고 덧붙였다.
			</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="modal-close waves-effect btn-flat">다 읽었어요!</a>
    </div>
  </div>
<!-- Modal2 Structure -->
  <div id="modal3" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>신입사원에게 레알 필요한 것</h4>
			<h5 class="bold">1)	잘하기 보다는 열심히</h5>
			<p>
				직장생활은 학창시절과 달라 조금 생소할 수 있습니다. 학교에서는 자기 스스로 일을 한다기보다는 가만히 앉아서 수동적으로 수업을 듣고, 주어진 과제나 시험에 대해 준비만 하면 됐지요. 하지만 회사에서는 자기 일을 스스로 찾아 해야 하며 그 일에 대한 책임감이 크답니다. 신입사원으로서 자신의 능력을 보여주고 싶지만, 아직은 업무에 ‘이응’도 모르는데 감히 나설 수 없죠. 상사분들도 처음 온 여러분들한테 잘할 거라고 기대하지 않습니다. 그렇다고 열정까지 숨기라는 말이 아닙니다. 어떤 일이든지 열심히 하려고 하고 모르는 것이 있다면 귀찮아할 정도로 물어보는 적극적인 자세와 성실한 모습이야말로 상사가 바라는 신입사원의 모습이라는 사실!!!
			</p>
			<h5 class="bold">2)	자주 눈에 띄어라</h5>
			<p>
				학교와 마찬가지로 직장도 많은 사람이 함께 생활하는 공간입니다. 굳이 같은 부서가 아니더라도 마주치는 경우가 많다는 말이죠. 그럴 때마다 인사는 기본!! 누군지는 모르더라도 "인사 잘하고 예의 바른 아이"라고 기억될 수 있답니다. 일하다가 복도에서나 화장실에서 마주치더라도 안부 인사나 상황에 맞는 말을 하는 것은 기본 중의 기본!! 자신의 인성을 나타낼 수 있는 지표라 할 수 있습니다. 또한 일하다 보면, 회식하는 경우가 있습니다(회사마다 다르겠지만 저희는 한 달에 두 번 정도 있어요). 회식에는 반강제적이지만 무조건 참석해야 합니다. "회식도 업무의 연장"이라는 말이 있죠. 처음에는 연세가 있으신 분들과의 술자리가 어색하고 어려울 수도 있지만, 그런 자리가 계속되면 익숙해져 재밌기도 하고 인생 선배로서의 조언도 들을 수 있는 좋은 자리가 된답니다.
			</p>
			<h5 class="bold">3)	사람들과 어울려라</h5>
			<p>
				학교생활이든 직장생활이든 가장 중요한 것이 주변 환경이라고 생각합니다. 얼마나 새로운 환경에 적응을 잘하고 사람들과 잘 어울리느냐에 따라 개인의 능률은 물론, 성과와 스트레스에까지 영향을 미친다고 하는데요. 상사분들과 친해지기 위해서는 그분들이 좋아하는 것을 함께 하는 것이 가장 좋은 것 같습니다. 우리 회사에서는 정기적으로 등산을 하러 가는데 친목을 다질 수 있고 건강증진도 되니 빠지지 않고 참석하고 있습니다. 회사 내 동아리나 모임 등이 있으니 이용하시는 걸 추천해드려요!
			</p>
			<h5 class="bold">4) 개인적인 발전도 필요</h5>
			<p>
				취업이라는 좁은 바늘구멍을 뚫고 들어왔지만 거기서 멈추지 말고 더 노력해야 한다고 말하고 싶어요. 취업했다고 모든 것이 끝났다는 생각은 큰 오산입니다. 주변 상사들 보고 있자면 앞으로 가야 할 길이 더 험난하고 많거든요. 자기계발을 위한 공부가 중요하긴 하지만, 입사하고 당분간은 회사에 집중하는 것이 좋다고 생각합니다. 대신 스트레스를 해소하기 위한 자기만의 방법을 찾는 것은 필수입니다. 아무리 열정과 패기로 일을 한다고 해도 어느 순간부터는 몸과 마음이 지칠 수 있습니다. 자신의 힐링을 위한 취미나 활동을 한두 개씩은 갖고 있어야 직진해 나갈 수 있습니다.
			</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="modal-close waves-effect btn-flat">다 읽었어요!</a>
    </div>
  </div>
<div class="category" style="margin: 6vh 0;">
<h5><i class="small material-icons" style="vertical-align: text-top;">speaker_notes</i>&ensp;인사 담당자가 말한다!</h5>
</div>
<ul class="pagination" style="text-align: right">
    <li class="disabled"><a href="javascript:void();"><i class="material-icons">chevron_left</i></a></li>
    <li class="waves-effect"><a href="?page=1">1</a></li>
    <li class="active waves-effect"><a href="?page=2">2</a></li>
    <li class="disabled waves-effect"><a href="javascript:void();">3</a></li>
    <li class="disabled waves-effect"><a href="javascript:void();">4</a></li>
    <li class="disabled"><a href="javascript:void();"><i class="material-icons">chevron_right</i></a></li>
</ul>
<br>
<div class="row">
	<div class="col s6 m4">
		<div class="card">
			<div class="card-image">
				<a class="waves-effect waves-light modal-trigger" href="#modal1">
					<img src="assets/i2_p1.png" class="circle responsive-img">
				</a>
			</div>
			<div class="card-content">
				<p>자기소개서 작성 꿀팁</p>
			</div>
		</div>
	</div>
	<div class="col s6 m4">
		<div class="card">
			<div class="card-image">
				<a class="waves-effect waves-light modal-trigger" href="#modal2">
					<img src="assets/i2_p2.png" class="circle responsive-img">
				</a>
			</div>
			<div class="card-content">
				<p>신입채용 면접에서 가장 중요한 항목</p>
			</div>
		</div>
	</div>
	<div class="col s6 m4">
		<div class="card">
			<div class="card-image">
				<a class="waves-effect waves-light modal-trigger" href="#modal3">
					<img src="assets/i2_p3.png" class="circle responsive-img">
				</a>
			</div>
			<div class="card-content">
				<p>신입사원에게 필요한 것</p>
			</div>
		</div>
	</div>
</div>