<style>
	.pagination li.active {
		background-color: #607d8b;
	}
</style>
<div class="category" style="margin: 6vh 0;">
<h5><i class="small material-icons" style="vertical-align: text-top;">speaker_notes</i>&ensp;인사 담당자가 말한다!</h5>
</div>
<ul class="pagination" style="text-align: right">
    <li class="disabled"><a href="javascript:void();"><i class="material-icons">chevron_left</i></a></li>
    <li class="active waves-effect"><a href="?page=1">1</a></li>
    <li class="waves-effect"><a href="?page=2">2</a></li>
    <li class="disabled waves-effect"><a href="#">3</a></li>
    <li class="disabled waves-effect"><a href="#">4</a></li>
    <li class="disabled"><a href="javascript:void();"><i class="material-icons">chevron_right</i></a></li>
</ul>
<br>
<div class="row">
	<div class="col s12 m12 l5">
		<iframe width="426" height="240" src="https://www.youtube-nocookie.com/embed/i0CWefibb9g?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
	<div class="col s12 m12 l7">
		<h5>
			2018 채용 트렌드 주요 이슈&emsp;<a href="https://www.jobkorea.co.kr/net/starter/tip/View?Inside_No=13948" target="_blank"><i class="material-icons">insert_link</i></a>
		</h5>
		<br>
		<ol style="font-size: larger">
			<li>2018년, 공공기관 채용 사상 최대치!</li>
			<li>채용 인원 가장 많은 곳은? 한국철도공사, 한국전력공사 순...</li>
			<li>공무원 신규채용 규모 늘고, 금융 공공기관 명예퇴직 활성화!</li>
		</ol>
	</div>
</div>
<br>
<div class="row">
	<div class="col s12 m12 l5">
		<iframe width="426" height="240" src="https://www.youtube-nocookie.com/embed/3iCAiA9Ls5g?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
	<div class="col s12 m12 l7">
		<h5>
			인사담당자가 말하는 AhnLab 채용 주요 이슈&emsp;<a href="http://job.incruit.com/entry/openempcoreview_popup.asp?comp=C852E1EF86F2B9937A5B8DCF8176AA4EEA4663193D2D2213F094EEE7AC8FAEEB" target="_blank"><i class="material-icons">insert_link</i></a>
		</h5>
		<br>
		<ol style="font-size: larger">
			<li>주요서비스 : 엔드 포인트 보안 / 네트워크 보안 / 온라인 보안 / 온라인 게임 보안 / 유틸리티 / 정보보호컨설팅 / 보안관제 / 보안 포털</li>
			<li>인재상 : 인성 / 전문성 / 팀워크</li>
			<li>비전 : 우리는 끊임없는 연구개발로 함께 살아가는 사회에 기여한다.</li>
		</ol>
	</div>
</div>
<br>
<div class="row">
	<div class="col s12 m12 l5">
		<iframe width="426" height="240" src="https://www.youtube-nocookie.com/embed/q0jUVB2XlaM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
	<div class="col s12 m12 l7">
		<h5>
			인사담당자가 말하는 NHN엔터테인먼트 채용 주요 이슈&emsp;<a href="http://job.incruit.com/entry/openempcoreview_popup.asp?comp=71E2AA7F2F7B5CD49C5E336708BD39DE1173C1FF18737018D519DA996CB09F11" target="_blank"><i class="material-icons">insert_link</i></a>
		</h5>
		<br>
		<ol style="font-size: larger">
			<li>주요서비스 : 결제 / 게임 / 쇼핑 / 문화생활 / IT솔루션</li>
			<li>인재상 : 변화에 민감하고 빠르게 대응하며 즐길 줄 아는 사람</li>
			<li>비전 : 즐거움으로 연결된 모든 가치를 이야기합니다.</li>
		</ol>
	</div>
</div>
<br>