<div class="category" style="margin: 6vh 0;">
	<h5>
		<i class="small material-icons" style="vertical-align: text-top;">insert_link</i>&ensp;구인·구직 사이트</h5>
</div>
<div class="row">
	<div class="col s6 m4">
		<div class="card">
			<div class="card-image">
				<a href="http://www.saramin.co.kr/zf_user/" target="_blank">
					<img src="assets/saraminlogo.png" class="circle responsive-img">
				</a>
			</div>
			<div class="card-content">
				<p>사람이 인재다, 사람인</p>
				<p>
					<a href="http://www.saramin.co.kr/zf_user/" target="_blank">http://www.saramin.co.kr/</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col s6 m4">
		<div class="card">
			<div class="card-image">
				<a href="https://www.jobkorea.co.kr/" target="_blank">
					<img src="assets/jobkorealogo.png" class="circle responsive-img">
				</a>
			</div>
			<div class="card-content">
				<p>직업의 모든것, 잡코리아</p>
				<p>
					<a href="https://www.jobkorea.co.kr/" target="_blank">https://www.jobkorea.co.kr/</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col s6 m4">
		<div class="card">
			<div class="card-image">
				<a href="https://www.incruit.com/" target="_blank">
					<img src="assets/incruitlogo.png" class="circle responsive-img">
				</a>
			</div>
			<div class="card-content">
				<p>취업의 힘, 인크루트</p>
				<p>
					<a href="https://www.incruit.com/" target="_blank">https://www.incruit.com/</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col s6 m4">
		<div class="card">
			<div class="card-image">
				<a href="http://jasoseol.com/" target="_blank">
					<img src="assets/jasoseoldotcomlogo.png" class="circle responsive-img">
				</a>
			</div>
			<div class="card-content">
				<p>모든 자소서를 한 눈에, 자소설닷컴</p>
				<p>
					<a href="http://jasoseol.com/" target="_blank">http://jasoseol.com/</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col s6 m4">
		<div class="card">
			<div class="card-image">
				<a href="https://www.jobplanet.co.kr/welcome/index" target="_blank">
					<img src="assets/Jobplannetlogo.jpg" class="circle responsive-img">
				</a>
			</div>
			<div class="card-content">
				<p>기업 정보, 연봉 정보, 잡플래닛</p>
				<p>
					<a href="https://www.jobplanet.co.kr/welcome/index" target="_blank">https://www.jobplanet.co.kr/</a>
				</p>
			</div>
		</div>
	</div>
</div>