<style>
	.tabs {
		margin-bottom: 3vh;
	}
	
	.inner-text {
		font-size: large;
	}
	
	.section {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-flow: row wrap;
		width: 100%;
	}
	
	.division {
		width: 50%;
		padding: 0;
		margin: auto;
	}
	
	ul.tabs {
    border-radius: 5px;
	}
</style>
<script>
	$(document).ready(function(){
		$('.tabs').tabs();
	});
</script>
<div class="category" style="margin: 6vh 0;">
<h5><i class="small material-icons" style="vertical-align: text-top;">sort</i>&ensp;지원 동기 영상 분석</h5>
</div>
<div class="row">
	<div class="col s12 m12 l6">
		<iframe width="426" height="240" src="https://www.youtube-nocookie.com/embed/QCB4VohMpEI?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
	<div class="col s12 m12 l6">
		<h5>자신이 촬영한 면접 영상을 보며 면접할 때의 자신의 문제점이 무엇인지를 파악할 수 있습니다.</h5>
		<br>
		<h6>* 각 항목의 탭을 클릭하여 확인해보세요!</h6>
	</div>
</div>
<div class="row">
	<div class="col s12">
		<ul class="tabs z-depth-1"> <!-- z-depth-1 -->
			<li class="tab col s4">
				<a class="active" href="#tabs1">눈 깜빡임</a>
			</li>
			<li class="tab col s4">
				<a href="#tabs2">음성 높낮이</a>
			</li>
			<li class="tab col s4">
				<a href="#tabs3">음성 크기</a>
			</li>
		</ul>
	</div>
	<div id="tabs1" class="col s12">
		<span class="inner-text">
			일반적으로 의식하지 않을 때 평균 4~5초에 한 번 정도 눈을 깜빡거립니다.<br>
			무언가에 몰두하고 있을 때, 깜빡이는 횟수가 이것보다는 훨씬 줄어듭니다.<br>
			<br>
			30초 영상의 경우 눈 깜빡임 횟수는 6-8번 정도 하는 것이 적당하며<br>
			1분 영상의 경우 12-16회 정도하는 것이 적당합니다.<br>
			<br>
			이보다 더 눈 깜빡임 횟수가 많다면 크게 긴장했다는 의미로 면접관이 받아들일 수 있으니 주의하세요.
		</span>
	</div>
	<div id="tabs2" class="col s12">
		<div class="section">
			<div class="division">
				<img src="/assets/video1-pic.png" style="width: 100%">
			</div>
			<div class="division">
				<span class="inner-text">
					음성 주파수는 어느 정도가 좋다고 특정해서 말할 수 없습니다.<br>
					본인의 목소리가 해당 범위를 자주 벗어나거나 크게 벗어나는 구간이 있다면 유의해서 살펴 보시길 바랍니다.<br>
					이 부분이 본인이 말하고자 하는 단어를 힘주어 말하는 부분입니다.
				</span>
			</div>
		</div>
	</div>
	<div id="tabs3" class="col s12">
		<span class="inner-text">
			목소리의 음량 변화를 주는 것이 필요합니다.<br>
			즉, 감정에 따라 음량을 높이거나 낮춤으로써 목소리에 다양한 변화를 주는 것이 상대방의 집중도를 높일 수 있습니다.<br>
			일정한 음량을 유지하기 보다 상대가 집중해 줬으면 하는 내용에서 상대적으로 음량을 키워주는 것이 좋습니다.
		</span>
	</div>
</div>