<script src="/assets/vanillaCalendar.js"></script>
<script>
	$(document).ready(function(){
		$('.carousel').carousel({
			dist: 0,
			padding: 0,
			fullWidth: true,
			indicators: true
  	});
  });
	autoplay();
	function autoplay() {
    setTimeout(autoplay, 4500);
		$('.carousel').carousel('next');
	}
</script>
<div class="carousel carousel-slider center" style="height: 720px">
	<a class="carousel-item" href="#one!"><img src="/assets/slide1.png"></a>
	<a class="carousel-item" href="#two!"><img src="/assets/slide2.png"></a>
	<a class="carousel-item" href="#three!"><img src="/assets/slide3.png"></a>
	<a class="carousel-item" href="#four!"><img src="/assets/slide4.png"></a>
</div>